Deezcovery.xcodeproj/project.xcworkspace/xcshareddata/Deezcovery.xccheckout
Deezcovery.xcodeproj/project.xcworkspace/xcuserdata/gaetan.xcuserdatad/UserInterfaceState.xcuserstate
Deezcovery.xcodeproj/xcuserdata/gaetan.xcuserdatad/xcschemes/Deezcovery.xcscheme
Deezcovery.xcodeproj/xcuserdata/gaetan.xcuserdatad/xcschemes/xcschememanagement.plist
